<h3 class='c2 {{ css }}'>{% if titulo %}{{ titulo }}{% else %}novo {{ tipo }}{% endif %}</h3>

<div id='novo-{{ tipo }}'>
    <div class="row baseline">
        <input
            type="text"
            class="w80"
            name="novo-{{ tipo }}" 
            hx-post="{{ post }}"
            hx-target="#results"
            hx-trigger="keyup chaged delay:500ms"
            placeholder="{{ ph|default:'nome' }}"
            value="{{ value }}"
            autocomplete="off" />
        <div id="submit"></div>
    </div>
    
    {% if tipo == 'adm' or tipo == 'mae' %}
    <div id="results"></div>  
    {% else %}
    <div id="results" class="legenda"></div>  
    {% endif %} 
</div>