<div class="c2 h3">nova imagem</div>

<form 
    id="form-nova-imagem"
    class="w80 row wrap"
    method="POST"
    enctype='multipart/form-data'
    hx-post="{{ add }}" 
    hx-target=this
    hx-trigger="change"
    autocomplete="off">
    {% csrf_token %}

    {{ form.imagem }}
    {% if form.imagem.errors %}<div class="legenda c2 mb2 w100">{{ form.imagem.errors }}</div>{% endif %}

    {% comment %} <input 
        type="submit" 
        class="link btn c2 center" 
        value="salvar" /> {% endcomment %}
</form>
