{% load index_tags %}
{% load humanize %}
{% load widget_tweaks %}

<h2 class='mb1 w100'>imagens <span class="c0">[{{ imagens.count|default:'0' }}]</span></h2>

<form 
    id="form-imagens"
    method="POST"
    enctype='multipart/form-data'
    hx-post="{{ post }}" 
    hx-target='#imagens-form'
    hx-trigger="keyup chaged delay:1s, change"
    autocomplete="off">
    {{ formset.management_form }}

    <input type="hidden" name="redirect" value="{{ post }}" />
    
    <ol class="lista">
        {% for form in formset %}
        {{ form.id }}
        {% get_imagem imagens form.id.value as imagem %}
        
        <div id="img-{{ imagem.id }}" class="row mt1" style="align-items: flex-start;">
            <div class="row wrap w50">
                <!-- info -->
                <li class="h3">{{ imagem.nome }}</li>
                
                <div class="legenda c1 w100 mb">
                    {{ imagem.imagem.width|intcomma }} x {{ imagem.imagem.height|intcomma }}  px<br>
                    {{ imagem.imagem.size|filesizeformat }} <br>
                </div>

                <!-- form -->
                {% if form.non_field_errors %}<div class="legenda b c2 mb w100">{{ form.non_field_errors }}</div>{% endif %}
                
                {% for field in form.visible_fields %}
                {% if field.name == 'nome' %}
                    <div class="c1">{{ field.name }}</div>
                    {{ field }}
                {% else %}       
                    <div class="wa mr2">{{ field }}</div>
                    <div class="c1 mr1">{{ field.name }}</div>
                {% endif %}
                {% if field.errors %}<div class="legenda c2 mb2">{{ field.errors }}</div>{% endif %}
                {% endfor %}

                {% if imagem in atualizado %}
                {% include 'index/base/msg.html' with tipo='clear' class='legenda mt mb2 w100' tempo='4' msg='imagem atualizada' %}
                {% endif %}
            </div>

            <!-- imagem -->
            <div class="w30 ml1">
                <a href="{{ imagem.imagem.url }}" target="blank"><img src="{{ imagem.imagem.url }}" alt="{{ imagem.nome }}"></a>
            </div>

            <!-- delete -->
            <div 
                class="link btn ml c2"
                hx-delete="{% url 'index:delete-imagem' pk=imagem.pk %}"
                hx-target="#img-{{ imagem.id }}"
                hx-confirm="tem certeza que deseja deletar a imagem '{{ imagem.nome }}'?"
                hx-include="[name='redirect']"
                hx-swap="outerHTML">
                deletar
            </div>
        </div>
        {% if not forloop.last %}<div class="linha fina mt"></div>{% endif %}
        {% endfor %}
    </ol>
    {% comment %} <input 
        type="submit" 
        class="link btn c2 center" 
        value="salvar" /> {% endcomment %}
</form>



