{% load index_tags %}
{% load widget_tweaks %}
{% load humanize %}

<form 
    id="form-imagens"
    method="POST"
    enctype='multipart/form-data'
    hx-post="{{ post }}" 
    hx-target='#imagens-form'
    {% comment %} hx-trigger="keyup chaged delay:2s, change" {% endcomment %}
    autocomplete="off">
    {{ formset.management_form }}
    
    <input type="hidden" name="redirect" value="{{ post }}" />
    <input type="hidden" name="template" value="true" />

    <!-- novo form -->
    {% for form in formset %}
    {% if not form.id.value %}
    {{ form.id }}
    <div id="link-{{ forloop.counter }}" class="row w80 mt1" style="align-items: flex-start;">
        <div class="row wrap w100">
            
            {% if form.non_field_errors %}<div class="legenda b c2 mb w100">{{ form.non_field_errors }}</div>{% endif %}

            {% for field in form.visible_fields %}
                
            {% if field.name == 'imagem' %}
            <div class="c2 h3">nova imagem</div>
            {{ form.imagem }}

            {% else %}
            {% render_field field type="hidden" %}

            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% endfor %}


    {% if imagens %}
    <div class="linha"></div>
    
    <h2 class='mb1 w100'>imagens <span class="c0">[{{ imagens.count|default:'0' }}]</span></h2>

    <!-- edita imagens -->
    <ol class="lista2">
        {% for form in formset %}

        {% if form.id.value %}
        {{ form.id }}
        {% get_imagem imagens form.id.value as imagem %}

        <div id="link-{{ forloop.counter }}" class="row w80 mt1" style="align-items: flex-start;">
            <div class="row wrap {% if imagem %}w60{% else %}w100{% endif %}">
                
                {% if imagem %}
                <li class="h3">{{ imagem.nome }}</li>
                
                <div class="legenda c1 w100 mb">
                    largura: {{ imagem.imagem.width|intcomma }} px<br>
                    altura: {{ imagem.imagem.height|intcomma }} px<br>
                    tamanho: {{ imagem.imagem.size|filesizeformat }} <br>
                </div>
                {% endif %}

                {% if form.non_field_errors %}<div class="legenda b c2 mb w100">{{ form.non_field_errors }}</div>{% endif %}

                {% for field in form.visible_fields %}
                
                {% if field.name == 'imagem' %}
                {% render_field field type="hidden" %}

                {% elif field.name == 'nome' %}
                <div class="c1">{{ field.name }}</div>
                {{ field }}

                {% elif field.name in 'capa carrossel' %}       
                <div class="wa mr2">{{ field }}</div>
                <div class="{% if not imagem %}c2{% else %}c1{% endif %} mr1">{{ field.name }}</div>

                {% endif %}
                {% if field.errors %}<div class="legenda c2 mb2">{{ field.errors }}</div>{% endif %}

                {% endfor %}

                {% if imagem in atualizado %}
                {% include 'index/base/msg.html' with tipo='clear' class='legenda mt mb2 w100' tempo='4' msg='imagem atualizada' %}
                {% endif %}
            </div>

            {% if imagem %}
            <div class="w40 ml1">
                <a href="{{ imagem.imagem.url }}" target="blank"><img src="{{ imagem.imagem.url }}" alt="{{ imagem.nome }}"></a>
            </div>
            {% endif %}
        </div>

        {% if not forloop.last %}<div class="linha fina mt"></div>{% endif %}

        {% endif %}
        {% endfor %}
        
    </ol>
    <input 
        type="submit" 
        class="link btn c2 center" 
        value="salvar" />
    {% endif %}
</form>



