{% load index_tags %}
{% load widget_tweaks %}

<h2 class='mb1'>imagens <span class="c0">[{{ imagens.count }}]</span></h2>

<form 
    method="POST"
    enctype='multipart/form-data'
    class="w90"
    hx-post="{{ post }}" 
    hx-target='#content'
    autocomplete="off">
    {{ formset.management_form }}
    
    <ol class="lista2">
        {% for form in formset %}
        
        {% if form.id.value %}
        {% get_imagem imagens form.id.value as imagem %}
        {% else %}
        {% set '' as imagem %}
        {% endif %}
        
        <div class="row mb1" style="align-items: flex-start;">

            <div id="link-{{ forloop.counter }}" class="row wrap {% if imagem %}w60{% else %}w100{% endif %}">
                
                {% if imagem %}
                <li class="h3">{{ imagem.nome }}</li>
                
                <div class="legenda c1 w100 mb">
                    largura: {{ imagem.imagem.width }} px<br>
                    altura: {{ imagem.imagem.height }} px<br>
                    tamanho: {{ imagem.imagem.size }} k<br>
                </div>
                {% endif %}

                {{ form.id }}

                {% for field in form.visible_fields %}
                
                {% if field.name in 'capa,carrossel' %}
                <div class="wa mr2">{{ field }}</div>
                <div class="{% if not imagem %}c2{% else %}c1{% endif %} mr1">{{ field.name }}</div>
                {% if field.errors %}<div class="legenda c2 mb2">{{ field.errors }}</div>{% endif %}
                
                {% else %}       
                <div class="{% if not imagem %}c2{% else %}c1{% endif %}">{% if field.name == 'imagem' and imagem %}modificar {% endif %}{{ field.name }}</div>
                {{ field }}
                {% if field.errors %}<div class="legenda c2 mb2">{{ field.errors }}</div>{% endif %}

                {% endif %}
                {% endfor %}

            </div>

            {% if imagem %}
            <div class="w40 ml">
                <img src="{{ imagem.imagem.url }}" alt="{{ imagem.nome }}">
            </div>
            {% endif %}

        </div>

        {% if form.id.value in atualizado %}
            {% if form.id.value == novo %}
                {% set 'nova imagem criado' as msg %}
            {% else %}
                {% set 'imagem atualizada' as msg %}
            {% endif %}
            {% include 'index/base/msg.html' with tipo='clear' class='legenda mb2' tempo='4' msg=msg %}
        {% endif %}

        {% endfor %}
    </ol>

    <input 
        type="submit" 
        class="link btn c2 center" 
        value="salvar" />
</form>

