<p class="legenda c2 mt1">salvo em <b>{{ texto.d1|date:"d/m/y" }}</b> às <b>{{ texto.d1|date:"H:i:s" }}</b></p>
<form 
    method="POST" 
    class="w80 mt2"
    hx-post="{{ post }}" 
    hx-target='#form-texto'
    hx-trigger="change, keyup delay:30s, submit"
    autocomplete="off">
    {% csrf_token %}
    
    {% for field in form %}
    <h3>{{ field.label_tag }}</h3>
    {{ field }}
    {% if field.errors %}<div class="legenda c2 mb2">{{ field.errors }}</div>{% endif %}
    {% endfor %}

    {% comment %} <input 
        type="submit" 
        class="link btn c2 center" 
        value="salvar" /> {% endcomment %}
</form>
