<form 
    method="POST" 
    hx-post="{% url 'index:projeto-edit-texto' url=url purl=projeto.url %}" 
    hx-target='#form-texto'
    autocomplete="off">
    {% csrf_token %}
    
    {% for field in form %}
    <h3>{{ field.label_tag }}</h3>
    {{ field }}
    {% if field.errors %}<div class="legenda c2 mb2">{{ field.errors }}</div>{% endif %}
    {% endfor %}

    <input 
        type="submit" 
        class="link btn c2 center" 
        value="salvar" />
</form>

{% if msg %}
{% include 'index/base/msg.html' with tipo='clear' %}
{% endif %}