<!-- titulo -->
{% include 'index/base/titulo.html' with extra='edit' %}

<!-- links sistema -->
{% comment %} <div class='mt'> {% endcomment %}
    {% comment %} <a href="{{ perfil.get_absolute_url }}"><div class="link btn c2 ml fr">perfil</div></a> {% endcomment %}

    <!-- visibilidade -->
    {% if tipo == 'grupo' %}
    <input type="hidden" name="template" value="index/edit/_index.html" />
    <input type="hidden" name="var" value="perfil" />
    <div class="btn ml fr {% if perfil.publico %}c1{% else %}c2{% endif %}">
        grupo {% if perfil.publico %}público{% else %}privado{% endif %}
        [<span
            class="link {% if perfil.publico %}c2{% endif %}" 
            hx-post="{% url 'index:grupo-visibilidade' url=url %}"
            hx-target="#index"
            hx-include="[name='template'],[name='var']" >
            {% if perfil.publico %}privatizar{% else %}publicar{% endif %}
        </span>]
    </div>
    {% endif %}

{% comment %} </div> {% endcomment %}




