{% load index_tags %}

<!-- links -->
<div class='row fr mt2'>
    <a href="{{ c.get_absolute_url }}" target="blank"><div class="link btn ml">visualizar</div></a>

    <div 
        class="link btn c2 ml" 
        hx-delete="{% url 'index:delete-convite' pk=c.id %}"
        hx-confirm="tem certeza que deseja deletar o convite '{{ c.nome }}'?"
        hx-target="#c-{{ forloop.counter }}" >
        deletar
    </div>
</div>

<!-- titulo -->
<h2><li><a class="link" href="{{ c.get_absolute_url }}">{{ c.nome }}</a></li></h2>

<!-- info -->
<div class="margem3">
    <span class="c1">email</span> {{ convite.email|default:'-' }}<br>
    <span class="c1">convite criado em</span> {{ c.d0|date:"d/m/y" }} às {{ c.d0|date:"H:i" }}<br>
    {% comment %} <span class="c1">link</span> {% full_url c.get_absolute_url %}<br> {% endcomment %}
    <span class="c1">link</span> {% full_url c.get_absolute_url %}<br>
</div>
