<!-- links -->
<div class='row fr mt2'>
    <!-- aceitar -->
    <div 
        class="link btn ml" 
        hx-post="{% url 'index:edit-filhos-aceitar' pk=u.id url=url %}"
        hx-confirm="você aceita ser o novo responsável pela conta de '{{ u }}'?"
        hx-target='#trans-{{ forloop.counter }}' >
        aceitar
    </div>
    <!-- recusar -->
    <div 
        class="link btn c2 ml" 
        hx-post="{% url 'index:edit-filhos-recusar' pk=u.id url=url %}"
        hx-confirm="tem certeza que deseja recusar a responsabilidade da conta de '{{ u }}'? ----- ao continuar, nada será deletado, mas a conta será inativada. ----- o user poderá recuperar o acesso com um novo convite."
        hx-target='#trans-{{ forloop.counter }}' >
        recusar
    </div>
</div>

{% include 'index/edit/user_info.html' %}
