{% if trans %}
<!-- transferencias -->
{% include 'index/base/edit_lista.html' with tipo='transferência' lista=trans id='trans' %}

<div class="linha"></div>
{% endif %}

<!-- novo -->
{% url 'index:check-nome' url=url as post %}
{% include 'index/add/novo.html' with tipo='convite' post=post %}
<div class="c2 mt">você será responsável pelas pessoas que convidar<br></div>


{% if convites %}
<div class="linha"></div>
<!-- convites -->
{% include 'index/base/edit_lista.html' with tipo='convite' lista=convites id='c' %}
{% endif %}


{% if filhos %}
<div class="linha"></div>
<!-- filhos -->
{% include 'index/base/edit_lista.html' with tipo='filho' lista=filhos %}
{% endif %}  
    