<!-- links -->
<div class='row fr mt2'>
    <!-- transferir -->
    <div 
        class="link btn c2 ml" 
        hx-get="{% url 'index:edit-filhos-transferir' pk=u.id url=url %}"
        hx-target='#content' >
        transferir
    </div>
    <!-- desativar -->
    <div 
        class="link btn c2 ml" 
        hx-delete="{% url 'index:edit-filhos-inativar' pk=u.id url=url %}"
        hx-confirm="tem certeza que deseja inativar a conta de '{{ u }}'? ------ ao continuar, nada será deletado, mas '{{ u }}' perderá acesso à a sua conta ------ o acesso poderá ser recuperarado com um novo convite. ------ NÃO CONTINUE SEM ANTES SE COMUNICAR COM '{{ u }}'. ------ PROSSIGA COM RESPEITO E RESPONSABILIDADE."
        hx-target='#u-{{ forloop.counter }}' >
        inativar
    </div>
</div>

{% include 'index/edit/user_info.html' %}
