<!-- links -->
<div class='row fr mt2'>
    {% comment %} <a href="{% url 'index:edit' url=g.url %}"><div class="link btn ml">editar</div></a>

    {% if g.url|safe != g.id|safe %}
    <input type="hidden" name="n" value="{{ n }}" id="n-{{ n }}" />
    <div 
        class="link btn ml {% if g.publico %}c2{% endif %}" 
        hx-post="{% url 'index:grupo-visibilidade' url=g.url %}"
        hx-target="#g-{{ n }}"
        hx-include="[name='template'],[name='var'],#n-{{ n }}" >
        {% if g.publico %}privatizar{% else %}publicar{% endif %}
    </div>
    {% endif %}

    <div 
        class="link btn c2 ml" 
        hx-delete="{% url 'index:delete-grupo' url=g.url %}"
        hx-confirm="tem certeza que deseja deletar grupo '{{ g.nome }}'? - após esta ação nenhum dado do grupo pode ser recuperado"
        hx-swap="outerHTML"
        hx-target="#g-{{ n }}" >
        deletar
    </div> {% endcomment %}
</div>

<!-- titulo -->
<h3><li><a class="link {% if not p.publico %}c2{% endif %}" href="{{ p.get_absolute_url }}">{{ p.nome }}</a></li></h3>

<!-- info -->
<div class="margem3">
    {% if not p.publico %}<span class="legenda c2">projeto privado</span><br>{% endif %}
    <span class="c1">url</span> {{ p.url }}<br>
    <span class="c1">projeto criado em</span> {{ p.d0|date:"d/m/y" }} às {{ p.d0|date:"H:i" }}<br>
    <span class="c1">ultima edição em</span> {{ p.d1|date:"d/m/y" }} às {{ p.d1|date:"H:i" }}<br>
    {% comment %} <span class="c1">adms</span>
        {% for p in g.u0.all %}
        <a class="link {% if not p.is_active %}c2{% endif %}" href="{{ p.get_absolute_url }}">{{ p }}</a>{% if not forloop.last %} + {% endif %}
        {% endfor %}<br> {% endcomment %}
</div>
