{% extends 'index/base/_base.html' %}

{% block index %}
{% include "index/base/_index.html" %}
{% endblock %}

{% block main %}
    {% if tipo == 'projeto' %}
    <div id="tags" class="tags margem flow">
        {% include 'index/base/tags_lista.html' with lista=tags %}
    </div>

    <div id="content" class="content margem flow ">
        {% include 'index/projeto/projeto.html'  %}
    </div>

    {% else %}
    <div 
        hx-get="{% if url %}{% url 'index:tags-perfil' url=url filtros=filtros %}{% else %}{% url 'index:tags-index' filtros=filtros %}{% endif %}"
        hx-target=this
        hx-trigger="load" 
        hx-swap="outerHTML"></div>
    {% endif %}
{% endblock %}
