{% load index_tags %}

<!-- titulo -->
{% include 'index/base/index_titulo.html' %}

<!-- edit -->
{% if editor or extra == 'edit' %}
    <div class='mt'>
    <!-- visibilidade -->
    {% if extra == 'edit' %}
        <div class="row end"><a class="link" href="{{ item.get_absolute_url }}">perfil</a></div>
        {% if tipo == 'grupo' or tipo == 'projeto' %}
        {% include 'index/base/index_visibilidade.html' %}
        {% endif %}
    <!-- links sistema -->
    {% elif editor %}
        {% if tipo == 'projeto' %}
        {% url 'index:projeto-edit' url=url purl=item.url as link %}
        {% else %}
        {% url 'index:edit' url=url as link %}
        {% endif %}
        <a href="{{ link }}"><div class="link btn c2 fr">edit</div></a>
    {% endif %}
    </div>
{% endif %}

{% if not extra %}
    <!-- perfil -->
    {% if tipo %}
    {% include 'index/base/index_info.html' %}
    {% endif %}

    {% if tipo != 'projeto' %}
        <!-- pessoas -->
        <div class="linha2"></div>
        {% include 'index/base/index_lista.html' with titulo='pessoas' lista=pessoas %}

        <!-- grupos -->
        {% if grupos %}
        <div class="linha2"></div>
        {% include 'index/base/index_lista.html' with titulo='grupos' lista=grupos %}
        {% endif %}

        <!-- projetos -->
        <div class="linha2"></div>
        {% include 'index/base/index_lista.html' with titulo='projetos' lista=projetos %}
    {% endif %}

{% endif %}