{% load index_tags %}

{% if tipo == 'user' or tipo == 'grupo' %}
{% set item as perfil %}
{% endif %}

<div class="h1">
    <a class='link2' href="{% url 'index:index' %}">1ndex/</a><br>

    {% if perfil %}
    <a class="link2 {% if url.grupo and not perfil.publico %}c2{% endif %}" href="{{ perfil.get_absolute_url }}">{{ url }}/</a><br>
    {% endif %}

    {% if tipo == 'projeto' %}
    <a class="link2 {% if not item.publico %}c2{% endif %}" href="{{ item.get_absolute_url }}">{{ item.url }}/</a><br>
    {% endif %}

    {% if extra %}
    <span class="c0">{{ extra }}/</span><br>
    {% endif %}
</div>