{% load index_tags %}

{% if tipo == 'grupo' %}
    {% url 'index:grupo-visibilidade' url=url as link %}
{% elif tipo == 'projeto' %}
    {% url 'index:projeto-visibilidade' url=url purl=item.url as link %}
{% endif %}

<input type="hidden" name="template" value="index/base/_index.html" id="index_template" />
<div class="row wrap end">
    <div class="btn wa {% if item.publico %}c1{% else %}c2{% endif %}">{{ tipo }} {% if item.publico %}público{% else %}privado{% endif %}</div>
    <div class="btn wa ml2">
        [<span
            class="link {% if item.publico %}c2{% endif %}" 
            hx-post="{{ link }}"
            hx-target="#index"
            hx-include="#index_template" >
            {% if item.publico %}ocultar{% else %}publicar{% endif %}
        </span>]
    </div>
</div>