<div class="c1 mt">
    {% if titulo == 'pessoas' %}{% if tipo == 'user' %}fi1hos{% elif tipo == 'grupo' %}adms{% else %}pessoas{% endif %}{% else %}{{ titulo }}{% endif %} [{{ lista.count|default:0 }}]
</div>
<div id="{{ titulo }}">
    {% for item in lista %}
        {% if titulo == 'links' %}
        <a href="{{ item.url }}" target="blank">
        {% else %}
        <a href="{{ item.get_absolute_url }}">
        {% endif %}
            <div class="link btn {% if titulo != 'pessoas' and not item.publico %}c2{% endif %}">{{ item }}</div>
        </a>
    {% endfor %}
</div>
