{% load index_tags %}

<div class="mt3">
    {% if item.nome %}<h2 class="c0">{{ item.nome }}</h2>{% endif %}

    <!-- info sistema -->
    <div class="c1 legenda txtr mt2">
        {% if tipo == 'projeto' %}
            editado: {{ item.d1|timesince }}<br>
            perfil: <a class='link' href="{{ perfil.get_absolute_url }}">{{ perfil }}</a><br>
        
        {% else %}
            1dade: {{ item.d0|timesince }}<br>
            {% if tipo == 'user' and item.u0 %}
            m4e: <a class='link' href="{{ item.u0.get_absolute_url }}">{{ item.u0 }}</a><br>
            {% comment %} {% elif tipo == 'grupo' %}
            4dms: {% for p in pessoas %}<a class="link" href="{{ p.get_absolute_url }}">{{ p }}</a>{% if not forloop.last %} + {% endif %}{% endfor %}<br> {% endcomment %}
            {% endif %}
        {% endif %}
    </div>

    {% if item.info %}
    <p class="mt">{{ item.info|linebreaksbr }}</p>
    {% endif %}

    {% if tipo == 'projeto' %}
    <!-- tags -->
    <div class="linha2 fina mt"></div>
    <div class="c1 mt">tags [{{ tags.count|default:0 }}]<br></div>
    <div id="tags">
        {% for t in tags %}
        <a href="{{ t.get_absolute_url }}"><div class="link btn">{{ t }}</div></a>
        {% endfor %}
    </div>
    {% endif %}

    {% if links %}
    <!-- links -->
    <div class="linha2 fina mt"></div>
    <p class="c1 mt">links externos [{{ links.count }}]</p>
    {% for l in links %}
    <a href="{{ l.url }}" target="blank"><div class="link btn">{{ l.nome }}</div></a>
    {% endfor %}
    {% endif %}
</div>
