<div x-data="{tab: '{{ ativo }}'}" id='menu' class='row wrap h2 mt'>
    {% for tab,link in menu %}
    
    {% if tab == 'deletar' %}
    <input type="hidden" name="redireciona" value="true" />
    <div 
        class="link2 mr c2"
        hx-delete="{{ link }}"
        hx-confirm="tem certeza que deseja deletar {{ tipo }} '{{ item.nome }}'? - após esta ação nenhum dado do {{ tipo }} pode ser recuperado"
        hx-include="[name='redireciona']"
        hx-push-url="true"
        hx-target="#body" >
        {{ tab }}/
    </div>

    {% else %}
    <div 
        {% comment %} class="mr {% if ativo == item %}ativo{% else %}link2{% endif %}" {% endcomment %}
        class="mr"
        :class="tab == '{{ tab }}' ? 'ativo' : 'link2'"
        @click.prevent="tab = '{{ tab }}'"
        hx-get="{{ link }}"
        {% if tipo == 'projeto' %}
            hx-push-url="/{{ url }}/{{ item.url }}/edit/{{ tab }}/"
        {% else %}
            hx-push-url="/{{ url }}/edit/{{ tab }}/"
        {% endif %}
        hx-target="#content" >
        {{ tab }}/
    </div>
    {% endif %}
    
    {% endfor %}
</div>
