{% if template %}<input type="hidden" name="template" value="{{ template }}" />{% endif %}

{% if tipo == 'clear' %}
<div 
    class="c{{ cor|default:'2' }} {{ class|default:'legenda' }}"
    hx-target="this"
    hx-get="{% url 'index:clear' %}" 
    hx-swap="outerHTML"
    hx-trigger="load delay:{{ tempo|default:'3' }}s">
    {{ msg|safe|default:'concluido.' }}
</div>

{% elif tipo == 'body' %}
<div 
    class="c{{ cor|default:'1' }} {{ class|default:'legenda mt' }}"
    hx-get="{{ redirect }}"
    {% if template %}hx-include="[name='template']"{% endif %}
    hx-push-url="{{ push|default:'true' }}"
    hx-swap="{{ swap|default:'outerHTML' }}"
    hx-target="{{ target|default:'#body' }}"
    hx-trigger="load delay:{{ tempo|default:'2' }}s">
    {{ msg|safe|default:'redirecionando...' }}
</div>

{% else %}
<div 
    class="c{{ cor|default:'2' }} {{ class|default:'legenda' }}"
    hx-get="{{ redirect }}"
    {% if template %}hx-include="[name='template']"{% endif %}
    hx-push-url="{{ push|default:'false' }}"
    hx-swap="{{ swap|default:'innerHTML' }}"
    hx-target="{{ target|default:'#content' }}"
    hx-trigger="load delay:{{ tempo|default:'2' }}s">
    {{ msg|safe|default:'concluido.' }}
</div>

{% endif %}