{% if template %}<input type="hidden" name="template" value="{{ template }}" />{% endif %}
<div 
    class="c{{ cor|default:'1' }} {{ class|default:'legenda mt' }}"
    hx-get="{{ redirect }}"
    {% if template %}hx-include="[name='template']"{% endif %}
    hx-push-url="{{ push|default:'true' }}"
    hx-swap="{{ swap|default:'outerHTML' }}"
    hx-target="{{ target|default:'#body' }}"
    hx-trigger="load delay:{{ tempo|default:'2' }}s">
    >>> {{ msg|safe|default:'redirecionando...' }}
</div>