{% if not tipo == 'projeto' %}
<div id="tags">
    {% include 'index/base/tags_lista.html' with lista=item.tags.all %}
</div>
{% endif %}

<div id="titulo" class="mt1 mb">
    <a class="link2 h1 mr {% if item.publico %}c1{% else %}c2{% endif %}" href="{{ item.get_absolute_url }}">{{ item.nome }}</a>
    {% if request.user.url == item.perfil %}[<a class="link c2" href="{% url 'index:projeto-edit' url=item.perfil purl=item.url %}">editar</a>]{% endif %}
</div>

{% if not tipo == 'projeto' %}
<div id="info" class="legenda c1 mb">
    editado: {{ item.d1|timesince }}<br>
    perfil: <a class="link" href="{{ item.perfil.get_absolute_url }}">{{ item.perfil }}</a><br>
</div>
{% endif %}